.navbar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: white;
    position: fixed;
}

.fixed {
    background-color: var(--orange);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0 auto 0;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logo {
    margin: -60px 0 0 20px;
    height: 200px;
    width: 200px;
}

.addcart {
    color: white;
    font-size: 50px;
    margin: 10px 20px 0 0;
}