.back-arrow {
    font-size: 3.75rem;
    margin: 10px 0 0 10px;
    color: var(--dark-gray);
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    position: absolute;
}

.back-arrow:hover {
    color: var(--light-gray);
}